/*Body Styling*/
body {
	background-color: #FFF;
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	width: 100%;
}

h1, h3, .quality {
	color: #6D6E71;
	font-family: 'Roboto Slab', Georgia, serif;
}

/*Top Section*/
.head {
	font-size: 60px;
	margin: 0 auto;
	text-align: center;
}

.accent {
	color: #F28F3B;
}

.main-inputs {
	box-sizing: border-box;
	font-size: 24px;
	margin: 10px auto;
	padding-left: 5px;
	width: 40%;
	border: 2px solid #D1D3D4;
	display: block;
}

#body-input{
	height: 36px;
}

.save-btn {
	color: #FFF;
	background-color: #F28F3B;
	border: none;
	padding: 5px;
	margin-bottom: 30px;
}

.save-btn:hover {
	background-color: #BA6E2C;
}

.top-section {
	background-color: #FFDCA5;
	/*margin: 0 auto;*/
	padding-top: 20px;
	text-align: center;
	padding-bottom: 10px;
}

/*Bottom Section*/
article {
	margin: 10px 25%;
	width: 50%;
}

.bottom-section {
	background-color: #FFF;
}

#delete-button {
	background-image: url(images/delete.svg);
	background-repeat: no-repeat;
	display: inline-block;
	float: right;
	height: 25px;
	margin: 0;
	width: 25px;
}

#delete-button:hover {
	background-image: url(images/delete-hover.svg);
}

#down-vote-button {
	background-image: url(images/downvote.svg);
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
}

#down-vote-button:hover {
	background-image: url(images/downvote-hover.svg);
}

.card-button {
	margin-right: 20px;
}

.idea-body {
	color: #939598;
	font-size: 17px;
	line-height: 130%;
	margin: 20px 5px;
	text-align: left;
}

.idea-card {
	border-bottom: 2px solid #D1D3D4;
	width: 40%;
	margin-left: auto;
	margin-right: auto;

}

.idea-rank {
	margin-left: 0.3em;
	width: 15%;
}

.idea-title {
	font-size: 24px;
	margin: 20px 2px;
	text-align: left;
}

.quality {
	align-items: center;
	display: flex;
	margin: 25px 5px;
}

.search-bar {
	margin-bottom: 20px;
	margin-top: 30px;
}

#up-vote-button {
	background-image: url(images/upvote.svg);
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
}

#up-vote-button:hover {
	background-image: url(images/upvote-hover.svg);
}

.bottom-section{
	text-align: center;
}

.completed-task h3, .completed-task p{
	text-decoration: line-through;
}

.completed-task .quality{
	text-decoration: none;
}

/*Media Queries*/
@media screen and (max-width:1100px) {
	article {
		width: 85%;
	}

	.main-inputs {
		width: 85%;
	}

	.idea-card{
		width: 85%;
	}

	#body-input{
		height: 80px;

	}

	.head{
		font-size: 50px;
	}

	
}

.complete{
	color: #FFF;
	background-color: #D1D3D4;
	border: none;
	/*padding: 5px;*/
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	display: inline-block;
	/*margin-bottom: 30px;*/
	margin-left: 15%;
}


@media screen and (max-width:750px) {
/*	article {
		margin: 10px 10%;
		width: 85%;
	}

	.main-inputs {
		margin: 10px 10%;
		width: 85%;
		/*background-color: magenta;*/
	}
}*/*/

/*@media screen and (max-width:500px) {
	article {
		margin: 10px 5%;
		width: 90%;
	}

	.main-inputs {
	/*	margin: 10px 5%;
		width: 90%;
	}
}*/